@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;1,500;1,700&display=swap');


#loading {
    z-index: 121;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #262626;
    background-image: url("../pic/3dLoading.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

.phone_bar{
    z-index: 100;
	background-color: #2d2d2d;
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
    padding-top: 20px;
}
.port_tb{
    margin: 0 auto;
}
.phone_bar a{
	font-size: 50px;
	text-decoration: none;
	margin-bottom: 100px;
	text-align: left;
	padding-left: 12%;
    display: block;
	line-height: 39px;
	color: #ec9704;
	font-weight: bold;
    width: 340px;
}
.phone_bar a:first-child{
    margin-top: 229px;
}
.phone_bar a:active{
	transition: 0.1s;
	color: #fff;
	outline: none;
}
.slice{
    position: fixed;
    top: 3vh;
    right: 6vw;
    background:url(../pic/slice_open.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 163px;
    width: 163px;
    border: none;
    outline: none;
    z-index: 100;
    display: none;
}
html{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    width: 100%;
    /* width: 1900px; */
    
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    /* overflow: hidden; */

}
main{
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
a{
    color: #fff;
    text-decoration: none;
}
h3{
    font-size: 100px;
    /* font-size: 5.2vw; */
    font-weight: 700;
    margin-top: 132px;
}
h3::first-letter{
    color: #ec9704;
}
header{
    position: fixed;
    z-index: 1000;
}
.wrapper{
    max-width: 1360px;/* врапер тута */
    margin: auto;
}
.header_table{
    max-width: 969px;
    float: right;   
}
.header_table td{
    font-weight: 700;
    font-size: 24px;
    padding-right: 48px;
    padding-top: 21px;
}
.header_table a{
    transition: 0.2s;
    color: #f8c916;
}

@media (hover: hover){
    .header_table a:hover{
        transition: 0.2s;
        color: #fff;
    }
     /* стили при наведении курсора на checkbox */
    .custom_checkbox:not(:disabled):not(:checked)+label:hover::before {
        transition: 0.2s;
        border-color: #ec9704;
    }
    .button_call:hover{
        transition: 0.2s;
        background-color: #fff;
    }
    .button_call:hover p{
        transition: 0.2s;
        color: #df9808;
    }
}

.color_white{
    transition: 0.2s;
    color: #fff !important;
}

.bar{
    z-index: 98;
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.46);
}
.logo_text{
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    float: left;
}
.main_background{
    z-index: -2;
    width: 100%;
    height: 1357px;
    background-image: url("../pic/main_background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    -webkit-mask:url(../pic/main_background.png) center no-repeat;
}
.pipes{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 1357px;
    background-image: url(../pic/pipes.png);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: move_around_bg;
}
.man{
    position: absolute;
    left: 5%;
    margin-top: 210px;
}


main h1{
    font-weight: 700;
    font-size: 102px;
    color: #fff;
    margin: 0;
    padding-top: 40%;
}
main p{
    font-weight: 500;
    font-size: 45px;
    color: #fff;
}
.main_text_things p{
        margin-top: 28px; 
        margin-bottom: 80px;  
}
.button_call{
    width: 815px;
    height: 100px;
    border: solid;
    border-radius: 36px;
    border-width: 8px;
    transition: 0.2s;
    border-color: #fff;
}
.button_call p{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}





.button_call:active{
    transition: 0.2s;
    background-color: #583e27;
    border-color: #583e27;
}

.main_text_things{
    margin-right: -7%;
    width: 815px;
    float: right; 
}
.sausage{
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: move_around;
}
.sausage_who{
    right: 0;
    top: 1400px;
}
.who_paragraff{
    font-size: 48px;
    font-weight: 500;
    width: 759px;
    height: 518px;
    margin-top: 150px;
    float: right;
}
.me_image{
    position:  absolute;
    left: 0px;
    top: 1747px;
    /* width: 50%; */
}
.folio{
    z-index: -100;
    margin-top: 350px;
    width: 100%;
    height: 4549px;
    background-repeat: no-repeat;
    background-position: top;
    
    background-image: url("../pic/folio_bg.png");
    background-repeat: no-repeat;
    
}
.folio .wrapper h3{
    padding-top: 213px;
    color: #fff;
}
.sausage_folio_top{
    right: 0;
    top: 2544px;
}
.sausage_folio_bottom_right{
    right: 0;
    top: 4334px;
}
.sausage_folio_bottom_left{
    left: 0;
    top: 5920px;
}

.folio_a{
    display: block;
    width: 1000px;
    margin: auto;
    font-size: 48px;
    font-weight: 600;
    color: #f8c916;
    
}
.git_image{
    float: left;
}
.folio_a p{
    padding-top: 40px;
    float: right;
    text-decoration: underline;
}

.work p{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    width: 472px;
    height: 273px;
    margin: 0;
    margin-top: 46px;
}

.work h4{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-top: 10px;
}
.work img{
    display: block;
    margin: auto;
}
.image{
    height: 100%;
    
}
.web .image, .sunduki .image{
    width: 648px;
    float: left;
}
.planes .image{
    width: 600px;
    float: right;
}

.planes .text h4{
    text-align: left;
}
.web h4{
    margin-top: 0px;
}


.sunduki .text, .web .text{
    /* width: 472px; */
    width: 648px;
    margin: 0 auto;
    float: right;
}

.planes .text{
    width: 472px;
    float: left;
    margin-left: 8%;
}

.planes p{
    margin-left: auto;
}

.sunduki, .planes, .web{
    margin-top: 113px;
    height: 110%;
}

.projects{
    font-size: 72px;
    padding-top: 150px;
    color: #fff;
    padding-left: 6%;
}
.projects::first-letter{
    color: #ec9704;
}
.tb_projects{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    color: #fff;
}

.tb_projects td{
    padding: 40px;
}
.colortext{
    transition: 0.2s;
    color: #f8c916; 
}

.colortext:hover{
    animation-duration: 0.4s;
    animation-name: colorchange;
}

.why_me h3{
    margin-top: -70px;
}
.why_me p{
    width: 90%;
    font-size: 60px;
    margin: auto;
}
.counter table{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    margin-top: 258px;
    
}
.counter table form{
    transition: 0.2s;
    text-align: left;
    padding-left: 10%;
    transition: 0.2s;
    width: 80%;
}
.equals{
    transition: 0.2s;
    text-align: left;
    padding-left: -100px;
}
#output{
    display: block;
    text-align: center;
    width: 481px;
}
.counter table tr{
    transition: 0.2s;
    padding: 40px;
}
form input, form label{
    transition: 0.2s;
    padding-bottom: 43px;
}
form input:last-child, form label:last-child{
    transition: 0.2s;
    padding-bottom: 0;
}  

.prices h3{
    margin-top: 300px;
}

/* для элемента input c type="checkbox" */
.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 75px;
    height: 75px;
  }
  .custom_checkbox+label::before {
    transition: 0.2s;
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 10px solid #2d2d2d;
    border-radius: 32px;
    margin-right: 31px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* для элемента label, связанного с .custom_checkbox */
  .custom_checkbox+label {
    transition: 0.2s;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  .custom_checkbox:not(:disabled):not(:checked)+label:hover::before {
    transition: 0.2s;
    border-color: #2d2d2d;
    }

  /* стили для активного чекбокса (при нажатии на него) */
  .custom_checkbox:not(:disabled):active+label::before {
    transition: 0.2s;
    border-color: #ec9704;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom_checkbox:checked+label::before {
    transition: 0.2s;
    border-color: #ec9704;
    background-image: url("../pic/check.png");
  }
.price_tb{
    border-collapse: collapse;
    font-size: 40px;
    font-weight: 500;
    width: 100%;
    
}
/* .price_tb td{
    
} */

.price_tb td:nth-child(even){
    border: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0 36px 36px 0;
    border-width: 10px;

    text-align: center;
}

.price_tb td:nth-child(odd){
    border-radius: 36px 0 0 36px;
}




.price_tb td{
    padding: 36px;
}
.price_tb tr:nth-child(odd){
    background-color: #2d2d2d;
    color: #ffffff;
    
}
.contacts{
    background-image: url("../pic/folio_bg.png");
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 138px;
}
.contacts h3{
    margin-top: 0;
    padding-top: 136px;
    color: #fff;
}
.logo{
    display: block;
    float: left;
    padding-right: 20px;
    width: 90px;
}

.contacts a{
    display: block;
    width: 1118px;
    height: 90px;
    margin: auto;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 90px;
}
footer{
    width: 100%;
    /* height: 84px; */
    background-color: #212121;
}

footer p{
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;

}

.sausage_prices_top{
    z-index: -1;
    left: 0;
    top: 8731px;
}
.sausage_contacts_bottom{
    right: 0;
    top: 9826px;
}
.sausage_contacts{
    left: 0;
    top: 9856px;
}
.rubles{
    position: absolute;
    right: 21%;
    top: 8825px;
    width: 100px;
}

.work, .planes, .web{
    opacity: 0;
}

.shake{
    animation-duration: 0.2s;
    animation-name: shake;
}

.fade_in{
    animation-duration: 1s;
    animation-name: fade_in;
}
.opacity{
    opacity: 1 !important;
}
.port_tb td{
    padding: 10px;
}
@keyframes move_around {
    0%{
        /* margin-right: 0%; */
        padding-top: 0;
    }
    25%{
        /* margin-right: -0.25%; */
        padding-top: 0.2%;
    }
    50%{
        /* margin-right: -0.5%; */
        padding-top: 0.3%;
    }
    80%{
        /* margin-right: 0; */
        padding-top: 0.2%;
    }
    100%{
        /* margin-right: 0%; */
        padding-top: 0;
    }
}

@keyframes colorchange {
    0%{
        color: #f8c916;
    }
    50%{
        color: #583e27;
    }
    100%{
        color: #f8c916;
    }
    
}

@keyframes move_around_image {
    0%{
        /* margin-right: 0%; */
        margin-top: -1%;
    }
    25%{
        /* margin-right: -0.25%; */
        margin-top: -3;
    }
    50%{
        /* margin-right: -0.5%; */
        margin-top: 0;
    }
    80%{
        /* margin-right: 0; */
        margin-top: -3%;
    }
    100%{
        /* margin-right: 0%; */
        margin-top: -1%;
    }
}

@keyframes shake {
    0% {padding-top: 20px;}
    50% {padding-top: -20px;}
    100% {padding-top: 0;}
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fade_out {
    from {opacity: 1;}
    to {opacity: 0;}
  }
@keyframes open {
    from {width: 0%;}
    to {width: 100%;}
  }

  @keyframes close {
    from {width: 100%;}
    to {width: 0%;}
  }
@keyframes move_around_bg {
    0%{
        top: 0;
    }
    50%{
        top: 1%;
    }
    100%{
        top: 0;
    }
}
@keyframes rotation_in {
    0% {
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes rotation_out {
    0% {
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

@media screen and (max-width: 1890px){
    .sausage_contacts, .sausage_prices_top, .sausage_folio_bottom_left{
        left: -5%;
    }
    
    .me_image{
        width: 40vw;
    }
}

@media screen and (max-width: 1717px){
    .sausage_contacts, .sausage_prices_top, .sausage_folio_bottom_left{
        left: -5%;
    }
    .sausage_folio_top{
        display: none;
    }
}

@media screen and (max-width: 1295px){
    .sausage, .sausage_contacts, .sausage_prices_top, .sausage_folio_bottom_left, .sausage_folio_top, .sausage_folio_bottom_right, .sausage_who, .sausage_contacts_bottom{
        display: none;
    }
    .web .image, .sunduki .image{
        width: 18.125vw;
    }
    .planes .image{
        width: 600px;
        float: none;
    }

}






@media screen and (max-width: 1679px){
    .sausage_contacts, .sausage_prices_top, .sausage_folio_bottom_left{
        left: -15%;
    }
    .sausage_folio_bottom_right{
        display: none;
    }
    
    
}


/* адаптация сайта под моники */
@media screen and (max-width: 1600px){
    .rubles{
        position: absolute;
        right: 14%;
        top: 8619px;
        width: 100px;
    }
    .sausage_contacts_bottom{
        top: 9674px;
    }
    .sausage_contacts{
        top: 9635px;
    }
    .folio_a{
        width: 100%;
    }
    .bar{
        height: 5.42vw;
    }
    .header_table td, .logo_text{
        font-size: 1.51vw;
    }
    .header_table td{
        padding-top: 1.25vw;
    }
    .folio_a p{
        padding: 0;
    }
    
    .main_text_things{
        margin-top: 140px;
        margin-right: 10px;
        width: 600px;
    }
    main h1{
        font-weight: 700;
        font-size: 75px;
        color: #fff;
        margin: 0;
        padding-top: 40%;
    }
    main p{
        font-weight: 500;
        font-size: 45px;
        color: #fff;
    }
    .main_text_things p{
            margin-top: 28px; 
            margin-bottom: 80px;  
    }
    .button_call{
        width: 615px;
        height: 90px;
        border: solid;
        border-radius: 36px;
        border-width: 8px;
        transition: 0.2s;
        border-color: #fff;
    }
    .button_call p{
        font-size: 35px;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding-top: 25px;
    }

    footer p, main p, .button_call p, .who_paragraff, .folio_a, .price_tb{
        font-size: 2.34vw;
    }
    
    .contacts a, .folio_a, .work h4, .why_me p{
        font-size: 3.12vw;
    }
    .tb_projects td{
        font-size: 3.82vw;
    }
    
    .work h4, .counter table{
        font-size: 3.75vw;
    }
    .man{
        /* width: 41.6vw; */
        /* margin-top: 10.9vw; */
        left: -5%;
        /* rotate: 90; */
    }
    .sunduki_img{
        width: 19vw;
    }
    .web .sunduki_img{
        width: 25vw;
    } 

}

/* адаптация под мобилки */
@media screen and (max-width: 1018px)
{
    .work img {
        margin: 0;
        margin-left: 45%;
    }
    .git_image{
        float: none;
    } 
    .folio_a p{
        float: none;
    }
    .bar{
        display: none;
    }
    .slice{
        display: block;
    }
    .main_text_things{
        margin: 0 auto;
        float: none; 
        width: 800px;
    }
    h3{
        font-size: 100px;
    }
    main h1{
        padding-top: 60px;
        font-size: 160px;
    }
    .main_text_things p{
        font-size: 5vw;
    }
    .button_call{
        width: 100%;
        height: 150px;
        border: solid;
        border-radius: 50px;
        border-width: 10px;
        transition: 0.2s;
        border-color: #fff;
    }
    
    
    .man{
        top: 814px;
        width: 50%;
        left: 0;
        margin: 0;
        transform:rotate(347deg);
    }
    .me_image{
        z-index: -1;
        width: 80%;
        position: absolute;
        text-align: center;
        
        top: 2547px;
        left: 0;
        right: 0;
        margin: 0 auto;

        content:url("../pic/me_round_edges.png");

        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: move_around;
    }
    .who_am_i{
        height: 1554px;
    }
    .who_paragraff{
        margin: 0 auto;
        width: 90%;
        float: none;
    }
    footer p, main p, .who_paragraff, .folio_a, .price_tb{
        font-size: 62px;
    }
    
    .contacts a, .folio_a, .work h4, .why_me p{
        font-size: 35px;
    }
    .tb_projects td{
        font-size: 50px;
    }
    .contacts a{
        width: 100%;
    }
    .folio{
        height: 3840px;
    }
    .button_call p{
        font-size: 60px;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding-top: 35px;
    }
    .projects{
        padding-top: 0;
    }
    .sunduki_img{
        width: 300px;
        margin-left: 8%
    }
    .plane .sunduki_img{
        margin-left: 0;
    }
    .web .sunduki_img{
        width: 300px;
    } 
    .sunduki .text, .web .text{
        width: auto;
    }
    label, #output{
        font-size: 5vw;
    }
    .price_tb td{
        font-size: 40px;
    }   
    .contacts a{
        font-size: 46px;
    }
    footer p{
        font-size: 14px;
    }
    .folio{
        background-image: url("../pic/folio_bg_mobile.png");
    }
    .why_me h3{
        margin-top: 10px;
    }
    .counter table {
        margin-top: 115px;
    }
    .prices h3{
        margin-top: 115px;
    }
    .rubles {
	display: none;
        top: 8186px;
        right: 4%;
        width: 192px;
    }
	.work h4{
		font-size: 44px;	
	}
	.work p{
		font-size: 50px;	
	}
	form input, form label {
        transition: 0.2s;
        padding-bottom: 100px;
    }
	label, #output {
        font-size: 43px;
    }
	
}








